<!DOCTYPE html>
<html>
    <head>
        <title>Login page </title>
        <style>
            img {
                image border-radius: 50%;
                filter: grayscale 90%;

            }

        </style>
    </head>
    <body>

            <div class="imgcontainer">
                <img src="https://hips.hearstapps.com/womansday/assets/17/39/1506709524-cola-0247.jpg" alt="Cute dog" class="avatar">
 
            </div>

            <form method="POST" action="">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
                <br>
                <input type="submit" value="Login">
            </form>

    </body>
</html>